<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
     <app-game-control (startingGame)="gameStarted($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>Odd</p>
      <app-odd *ngFor="let oddNumber of oddNumbers" [oddNum]="oddNumber"></app-odd>
    </div>
    <div class="col-xs-6">
      <p>Even</p>
      <app-even *ngFor="let evenNumber of evenNumbers" [evenNum]="evenNumber"></app-even>
    </div>
  </div>
</div>
